{% extends './_layouts/base.njk' %}

{% block content %}
  <div class="piano-container">
    <div class="piano piano1">
      <div class="piano piano2"></div>
    </div>
    <div class="piano-text-container">
      <div class="piano-text" data-text>
        <p>
          Imagine
        </p>
        <p>
          Being
        </p>
        <p>
          Creative
        </p>
      </div>
    </div>
  </div>
{% endblock %}
